<p id="alert"><%= alert %></p>

<h1><%= t 'welcome.index.title' %></h1>
<p><%= @now %></p>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", logout_path, method: :delete %>
<% else %>
  <%= link_to "Sign in by PLGrid", "/auth/plgrid" %>
<% end %>

<%= render(ExampleComponent.new(title: "my title")) do %>
  Hello, World!
<% end %>

<p>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>

  <button type="button" class="btn btn-link">Link</button>
</p>
