<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grant.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grant.name %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
