<p id="notice"><%= notice %></p>

<%= turbo_stream_from @grant %>

<%= turbo_frame_tag :grant do %>
  <%= render @grant %>
  <%= link_to 'Edit', edit_grant_path(@grant) %> |
  <%= link_to 'Back', grants_path %>
<% end %>

<div>
  <h1>
    Allocations
    <%= turbo_frame_tag "allocations_count" do %>
      (<%= @grant.allocations.size %>)
    <% end %>
  </h1>
  <%= turbo_frame_tag "allocations" do %>
    <%= render @grant.allocations %>
  <% end %>
</div>

<%= turbo_frame_tag "new_allocation", src: new_grant_allocation_path(@grant), target: "_top" %>
