<p id="notice"><%= notice %></p>

<%= turbo_frame_tag @grant do %>
  <p>
    <strong>Title:</strong>
    <%= @grant.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @grant.name %>
  </p>

  <p>
    <%= @grant.content %>
  </p>

  <ul>
    <% @grant.documents.each do |document| %>
      <li>
        <%= link_to document.blob.filename, rails_blob_path(document, disposition: "attachment") %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Edit', edit_grant_path(@grant) %> |
  <%= link_to 'Back', grants_path %>
<% end %>

<div>
  <h1>
    Allocations
    <%= turbo_frame_tag "allocations_count" do %>
      (<%= @grant.allocations.size %>)
    <% end %>
  </h1>
  <%= turbo_frame_tag "allocations" do %>
    <%= render @grant.allocations %>
  <% end %>
</div>

<%= turbo_frame_tag "new_allocation", src: new_grant_allocation_path(@grant), target: "_top" %>
