<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @grant.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grant.name %>
</p>

<p>
  <%= @grant.content %>
</p>

<ul>
  <% @grant.documents.each do |document| %>
    <li>
      <%= link_to document.blob.filename, rails_blob_path(document, disposition: "attachment") %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Edit', edit_grant_path(@grant) %> |
  <%= link_to 'Back', grants_path %>
</p>

<div id="allocations">
  <h1>Allocations</h1>
  <%= render @grant.allocations %>
</div>

<%= link_to "New allocation", new_grant_allocation_path(@grant) %>
